python-multipart
fastapi
uvicorn[standard]
whisper_ctranslate2
opencc
prometheus-fastapi-instrumentator
git+https://github.com/SYSTRAN/faster-whisper@65882eee9f5cdbeeb2d877f1131d48cf241b327d
pydub
aiohttp
wyoming
