python-multipart
fastapi
uvicorn[standard]
whisper_ctranslate2
opencc
prometheus-fastapi-instrumentator
git+https://github.com/SYSTRAN/faster-whisper@ed9a06cd89a93e47838f564998a6c09b655d7f43
pydub
aiohttp
wyoming
